.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(56, 56, 56);

  .logo {
    font-size: 20px;
    font-weight: 600;
    color: antiquewhite;
    padding: 0 20px;
  }

  .links {
    a {
      padding: 20px;
      color: antiquewhite;
    }
    a:hover {
      background-color: black;
    }
  }
}
